
lichess_elite_2022-12.pgn
stockfish-windows-2022-x86-64-avx2.exe
stockfish_15.1_win_x64_avx2/AUTHORS
stockfish_15.1_win_x64_avx2/Copying.txt
stockfish_15.1_win_x64_avx2/src/benchmark.cpp
stockfish_15.1_win_x64_avx2/src/bitbase.cpp
stockfish_15.1_win_x64_avx2/src/bitboard.cpp
stockfish_15.1_win_x64_avx2/src/bitboard.h
stockfish_15.1_win_x64_avx2/src/endgame.cpp
stockfish_15.1_win_x64_avx2/src/endgame.h
stockfish_15.1_win_x64_avx2/src/evaluate.cpp
stockfish_15.1_win_x64_avx2/src/evaluate.h
stockfish_15.1_win_x64_avx2/src/incbin/incbin.h
stockfish_15.1_win_x64_avx2/src/incbin/UNLICENCE
stockfish_15.1_win_x64_avx2/src/main.cpp
stockfish_15.1_win_x64_avx2/src/Makefile
stockfish_15.1_win_x64_avx2/src/material.cpp
stockfish_15.1_win_x64_avx2/src/material.h
stockfish_15.1_win_x64_avx2/src/misc.cpp
stockfish_15.1_win_x64_avx2/src/misc.h
stockfish_15.1_win_x64_avx2/src/movegen.cpp
stockfish_15.1_win_x64_avx2/src/movegen.h
stockfish_15.1_win_x64_avx2/src/movepick.cpp
stockfish_15.1_win_x64_avx2/src/movepick.h
stockfish_15.1_win_x64_avx2/src/nnue/evaluate_nnue.cpp
stockfish_15.1_win_x64_avx2/src/nnue/evaluate_nnue.h
stockfish_15.1_win_x64_avx2/src/nnue/features/half_ka_v2_hm.cpp
stockfish_15.1_win_x64_avx2/src/nnue/features/half_ka_v2_hm.h
stockfish_15.1_win_x64_avx2/src/nnue/layers/affine_transform.h
stockfish_15.1_win_x64_avx2/src/nnue/layers/clipped_relu.h
stockfish_15.1_win_x64_avx2/src/nnue/layers/simd.h
stockfish_15.1_win_x64_avx2/src/nnue/layers/sqr_clipped_relu.h
stockfish_15.1_win_x64_avx2/src/nnue/nnue_accumulator.h
stockfish_15.1_win_x64_avx2/src/nnue/nnue_architecture.h
stockfish_15.1_win_x64_avx2/src/nnue/nnue_common.h
stockfish_15.1_win_x64_avx2/src/nnue/nnue_feature_transformer.h
stockfish_15.1_win_x64_avx2/src/pawns.cpp
stockfish_15.1_win_x64_avx2/src/pawns.h
stockfish_15.1_win_x64_avx2/src/position.cpp
stockfish_15.1_win_x64_avx2/src/position.h
stockfish_15.1_win_x64_avx2/src/psqt.cpp
stockfish_15.1_win_x64_avx2/src/psqt.h
stockfish_15.1_win_x64_avx2/src/search.cpp
stockfish_15.1_win_x64_avx2/src/search.h
stockfish_15.1_win_x64_avx2/src/syzygy/tbprobe.cpp
stockfish_15.1_win_x64_avx2/src/syzygy/tbprobe.h
stockfish_15.1_win_x64_avx2/src/thread.cpp
stockfish_15.1_win_x64_avx2/src/thread.h
stockfish_15.1_win_x64_avx2/src/thread_win32_osx.h
stockfish_15.1_win_x64_avx2/src/timeman.cpp
stockfish_15.1_win_x64_avx2/src/timeman.h
stockfish_15.1_win_x64_avx2/src/tt.cpp
stockfish_15.1_win_x64_avx2/src/tt.h
stockfish_15.1_win_x64_avx2/src/tune.cpp
stockfish_15.1_win_x64_avx2/src/tune.h
stockfish_15.1_win_x64_avx2/src/types.h
stockfish_15.1_win_x64_avx2/src/uci.cpp
stockfish_15.1_win_x64_avx2/src/uci.h
stockfish_15.1_win_x64_avx2/src/ucioption.cpp
stockfish_15.1_win_x64_avx2/Top CPU Contributors.txt
